
<div class="row-fluid" ng-controller="BroadcastVoiceCtrl">
	<!--TODO Change ids such as voiceid to data-voiceid as the former is not supported in a lot of browsers   -->
    <div id="broadcast-voice-ids" th:attr="org=${organization.abbreviation},organizationid=${organization.organizationId},groupid=${group.groupId},publisherid=${publisher.userId}"></div>
    <!-- Two script tags instead of one since if src attribute is used in script tag the text content is ignored. -->
    <script th:src="@{/static/js/recordFile.js}"></script>
    <table class="table table-striped table-bordered table-condensed" id="usertable">
        <tbody>
            <!-- 			<tr class="list-users" th:each="broadcast : ${broadcast} "> -->
            <!-- 			<tr>Last Broadcast Message: -->
            <!-- 			</tr> -->
            <tr> 
            		<div class="row-fluid">	
            				<div th:if="${broadcast==null}">
                    			<h4>No recording for <span th:text="${organization.name}">Organization</span> till now.</h4>
                    		</div>
                    		<div th:unless="${broadcast==null}">
                    			<h4 id = "latest-voice" th:attr="voiceid=${broadcast.voice.voiceId}">Latest Recorded Audio</h4>
                    			<audio th:attr="src=${broadcast.voice.url}" controls style="text-align:center;">
                    			</audio>
                    		</div>
                    </div>
            </tr>
            <br></br>
            <tr>	
            		<div class="row-fluid">
            			<div class="span6">
                    		<button class="btn btn-success" onclick="recordFile.init()" id="voice-record" data-toggle="modal" data-title="Record" data-target="#record-modal" align="center">Record</button>
                    	</div>
                    	<div class="span6">
                   			<!-- TODO have to change styling of this button -->
                			<input class= "display-none" type="file" size = "4" name="myFile" file-model="myFile" id="welcome_message">
                    	</div>
                    </div>
             </tr>
             <br></br>
             <tr>
             		<div class="row-fluid">
             			<div class="span6">
            				<button class="btn btn-success" id="voice-broadcast" data-toggle="modal" data-title="Broadcast" data-target="#broadcast-modal" align="center">Broadcast</button>
            			</div>
                    	<div class="span6">
                    		<input type="submit" class="btn btn-success" id="voice-upload"  value="Upload Audio" />
                    	</div>
                    </div>
  			 </tr>
  			<br></br>
        </tbody>
        <br></br>
    </table>
</div>

<div class="modal fade" id="record-modal" tabindex="-1" role="dialog" aria-hidden="true">
   	<div class="modal-dialog">
			<div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                   <i class="icon-remove"></i>
               </button>
               <h4 class="modal-title custom_align" id="heading-record">Record</h4>
           	</div>
    		<div class="modal-body">
        		<form class="form-horizontal">
           			<audio id="audio" controls></audio>
               			<br></br>
               			<br></br>
            			<div class="row-fluid">
               				<button class="btn btn-primary" id="recordButton" onclick="recordFile.startRecording();"><i class="icon-white icon-play"></i></button>
               				<button class="btn btn-primary" id="stopButton" onclick="recordFile.stopRecording();" disabled><i class="icon-white icon-stop"></i></button>
               				<a class="btn btn-info" role="button" id="audioDownload"><i class="icon-white icon-download"></i> Download</a>
							</div>


						</div>
      			</form>
    		</div>
    </div>
</div>

<div class="modal fade" id="broadcast-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
                    <i class="icon-remove"></i>
			</button>
			<h4 class="modal-title custom_align" id="HeadingUser">Broadcast</h4>
		</div>            
		<div class="modal-body">
			<form class="form-horizontal">
				<div>
					
					<center><b>Response Type:</b></center>
					<div class="row-fluid"> 
					<div class="span4">
							<label>
								<input id="order-check" type="checkbox" name="order" value="1" />Order
							</label>
					</div>
					<div class="span4">
							<label>
								<input id="feedback-check" type="checkbox" name="feedback" value="2" />Feedback
							</label>
					</div>
					<div class="span4">
							<label>
								<input id="response-check"type="checkbox" name="response" value="3"/>Response
							</label>
					</div>
					</div>            	
				</div>
				<div>
					<div class="row-fluid" style="text-align:center;">
						<b>Users:</b><br>
					</div>
 					<div id = "user-list" class="row-fluid" style="margin:0px auto; width:100%">   	 
        				<div id="column1" style="float:left; margin:0; width:33%;">
        					<div  th:each="user,userStat : ${users}" th:if="${userStat.index%3 == 0}" >
                    		<label>
								<input type="checkbox" class="checkthis" th:text ="${user.name}" th:value="${user.userId}" />
							</label>
							</div>
						</div>
						<div id="column2" style="float:left; margin:0; width:33%;">
							<div th:each="user,userStat : ${users}" th:if="${userStat.index%3 == 1}">
                    		<label>
								<input type="checkbox" class="checkthis" th:text ="${user.name}" th:value="${user.userId}" />
							</label>
							</div>
						</div>
						<div id="column3" style="float:left; margin:0; width:33%;">
							<div th:each="user,userStat : ${users}" th:if="${userStat.index%3 == 2}">
                    		<label>
								<input type="checkbox" class="checkthis" th:text ="${user.name}" th:value="${user.userId}" />
							</label>
							</div>
						</div>
					</div>       		
				</div>
					
					<div>
                   		<table>
                       	    <tr>
                                <td>
                                    <br> When you want to broadcast the call
                                </td>
                             </tr>
                             <tr>
                                    <td>
                                        <input type="checkbox" class="tr" name="now" id="now" value="newCall" checked />Now
                                    </td>
                                    <td>
                                        <input type="checkbox" class="tr" name="scheduled" id="scheduled" value="scheduled" onclick="scheduledTimes();" />Scheduled Times
                                    </td>
                             </tr>
                             <tr>
                                    <td>
                                        <div id="scheduledTimes"></div>
                                    </td>
                             </tr>
                             <tr>
                                	<td>
											How many BackUp Call do you want: 
                                            <select	name="backup_calls" id="backup_calls" onchange="dropDowns1();">
                                                <option value="0">0 backupcall</option>
                                                <option value="1">1 backupcall</option>
                                                <option value="2">2 backupcall</option>
                                                <option value="3">3 backupcall</option>
                                                <option value="4">4 backupcall</option>
                                                <option value="5">5 backupcall</option>
                                            </select>
                                            <div id="myDiv"></div>
                                	</td>
                             </tr>
                             <tr>
                                    <td>
                                                <input type="hidden" name="filePresent" id="filePresent" value="" />
                                                <input type="hidden" name="fileName" id="fileName" value="" />
                                                <input type="hidden" name="group_id" id="group_id">
                                                <input type="hidden" name="tempflag" id="tempflag" value="mrequest" />
                                                 <input type="hidden" name="req_type" id="req_type" value="broadcast" />
                                    </td>
                             </tr>
                		</table>
					</div>
					
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-success" id="place-voice-broadcast-call" align="center">
				<i class="icon-white icon-ok"></i>Place Call
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>                                       
		</div>
	</div>
</div>
                        <!-- /.modal-content -->
                        <!-- /.modal-dialog -->