<div ng-controller="OrderSummaryGroupsController">
	<div class="row-fluid">
		<h2>Order Summary(Group wise)</h2><p hidden id="orgAbbrevation" th:text="${orgAbbrevation}">text</p></br>
			<form class="simple-form">
				Group Name: 
				<select id="group_name" ng-model="name">
					<option th:each="group : ${groups}" th:value="${group.name}">
	    					<p th:text="${group.name}">text</p>
	    			</option>
	  			</select>
	  			From: <input type="date" id="fromDate" name="From" ng-model="fromDate" placeholder="yyyy-mm-dd">
	  			To: <input type="date" id="toDate" name="To" ng-model="toDate" placeholder="yyyy-mm-dd">
	    		<input type="submit" id="submitGroups" value="Submit" />
	  		</form>
	  	<h2>{{name}}</h2>
	  	<table class="table table-striped table-bordered table-condensed" id="t01">
	  		<tr>
	    		<th>Unit Rate</th>
	    		<th>Quantity</th>
			</tr>
	  		<tr ng-repeat="x in orderSumGroups._embedded.orderItems">
	  			<td>
	  				{{x.unitRate}}
	  		</td>
	  		<td>
	  			{{x.quantity}}
	  		</td>
	  	</tr>
	  	<tr>
	  		<td>
	  			Total 
	  		</td>
	  		<td id="totalGroups">
	  		0
	  		</td>
	  	</tr>
	  </table>
	</div>
</div>	