<div id=broadcast-text-controller ng-controller="textBroadcastCtrl">
    <div id="broadcast-text-ids" th:attr="data-groupid=${groupId},data-publisherid=${publisher.userId}">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="name">Message to be sent
                    </label>
                    <div class="controls">
                        <textarea name="message" ng-model="textContent" rows="5" cols="30" placeholder="Type your message here...." id="sms-message"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Message Response</label>
                    <div class="controls">
                        <input type="radio" ng-model="radioValues" id=radio1 name="value" value=0>Order
                        <br>
                        <input type="radio" id="radio2" ng-model="radioValues" name="value" value=1>Feedback
                        <br>
                        <input type="radio" name="value" ng-model="radioValues" id="radio3" value=2>Response
                        <br>
                        <input type="radio" name="value" ng-model="radioValues" id="radio4" value=3>No Response
                        <br>
                    </div>
                </div>

                <div class="form-actions">
                    <!--  <input type="submit" class="btn btn-success" data-toggle="modal" data-title="Broadcast" data-target="#broadcast-text-modal" align="left" value="Broadcast" /> -->
                    <button class="btn btn-success" id="broadcast" data-toggle="modal" data-title="Broadcast" data-target="#broadcast-text-modal" align="center">Broadcast</button>
                </div>
            </fieldset>
        </form>

        <div class="modal fade" id="broadcast-text-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-remove"></i>
                    </button>
                    <h4 class="modal-title custom_align" id="HeadingUser">Text Broadcast</h4>
                </div>
                <div class="modal-body">
                <form class="form-horizontal">
					<div class="row-fluid" style="text-align:left;">
						<b>Users:</b><br><br>
					</div>
 					<div id = "user-text-list" class="row-fluid" style="margin:0px auto; width:100%">   	 
        				<div id="column1" style="float:left; margin:0; width:33%;">
        					<div  th:each="user,userStat : ${users}" th:if="${userStat.index%3 == 0}" >
                    		<label>
								<input type="checkbox" class="checkthis" th:text ="${user.name}" th:value="${user.userId}" />
							</label>
							</div>
						</div>
						<div id="column2" style="float:left; margin:0; width:33%;">
							<div th:each="user,userStat : ${users}" th:if="${userStat.index%3 == 1}">
                    		<label>
								<input type="checkbox" class="checkthis" th:text ="${user.name}" th:value="${user.userId}" />
							</label>
							</div>
						</div>
						<div id="column3" style="float:left; margin:0; width:33%;">
							<div th:each="user,userStat : ${users}" th:if="${userStat.index%3 == 2}">
                    		<label>
								<input type="checkbox" class="checkthis" th:text ="${user.name}" th:value="${user.userId}" />
							</label>
							</div>
						</div>
					</div>  
				</form>     		
				</div>
				<div class="modal-footer">
					<button type="button" ng-click=saveTextBroadcastBtn() class="btn btn-success" id="place-text-broadcast-call" align="center">
						<i class="icon-white icon-ok"></i>Send SMS
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>                                       
				</div>
                           
                </div>
            </div>
        </div>
    </div>