<div id="voice-message-content" ng-controller="VoiceMessageCtrl">
	<div class="row-fluid">
		<table class="table table-striped table-bordered table-condensed"
			id="usertable">
			<thead>
				<tr>
					<th>Time</th>
					<th>User Name</th>
					<th>Message</th>
					<th>Comment</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-users" th:each="voiceMessage : ${message} ">
	
					<td th:attr="id='inboxVoiceMessageTime'+${voiceMessage.messageId}" th:text="${voiceMessage.Time}">Time</td>
					<td th:attr="id='inboxVoiceMessageName'+${voiceMessage.messageId}" th:text="${voiceMessage.user.name}">User Name</td>
					<td>
						<a th:href="${voiceMessage.voice.url}" target="_blank">Play Voice Message</a>
					</td>
					<td>
						<span>
							<input type="text" th:attr="id='inboxVoiceMessageComment'+${voiceMessage.messageId}" th:value="${voiceMessage.comments}">
						</span>
						<span>
							<a href="#" class="inboxVoiceMessageSaveButton" th:attr="id='inboxVoiceMessageSaveButton '+${voiceMessage.messageId}">
								<i class="icon-pencil"></i>
								<!-- <i class="icon-floppy-disk" aria-hidden="true"></i> -->
							</a>
						</span>
					</td>
					<td>
						<p data-placement="top" data-toggle="tooltip" title="Edit">
							<button th:value="${voiceMessage.messageId}" class="view-inbox-voice-message btn btn-primary"
								data-title="View" data-toggle="modal" data-target="#view-inbox-voice-message-modal">
								<i class="icon-white icon-file"></i> View
							</button>
						</p>
					</td>
					<!-- Hidden Fields -->
					<input type="hidden" th:attr="id='inboxVoiceMessageOrderId'+${voiceMessage.messageId}" th:value="${voiceMessage.order.orderId}">
					<input type="hidden" th:attr="id='inboxVoiceMessageURL'+${voiceMessage.messageId}" th:value="${voiceMessage.voice.url}">
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="modal fade" data-keyboard="false" data-backdrop="static" id="view-inbox-voice-message-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
	 	<div class="modal-dialog">
	    	<div class="modal-header">
	      		<button type="button" class="close inbox-voice-modal-close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
	      		<h4 class="modal-title custom_align" id="HeadingEdit">Save Order</h4>
	    	</div>
	    	<div class="modal-body">
	      		<div class="fluid-row">
	      			<div class="span4">
		      			<div><b>Time: </b></div>
		      			<div id="inboxVoiceTime"></div>
	      			</div>	
	      			<div class="span3">
	      				<div><b>Name: </b></div>
	      				<div id="inboxVoiceName"></div>
	      			</div>
	      			<div class="span5">
	      				<div><b>Comment: </b></div>
	      				<textarea id="inboxVoiceComment"></textarea>
	      			</div>
	      		</div>
	      		<div class="fluid-row">
	      			<div class="span12">
	      				<div><b>Content: </b></div>
	      				<div id="inboxVoiceAudioDiv">
	      					<audio controls id="inboxVoiceURL">
	      					</audio>
	      				</div>
	      			</div>
	      		</div>
	      		<hr>
	      		<form class="form"> 
			  		<div class="control-group">
			  			<div class="fluid-row">
				    		<div class="span3">
				    			<div>Product</div>
				    			<div>
				    				<select class="span10" id="inboxVoiceProductName">
				    					<option th:each="product : ${products}" th:value="${product.productId} + ' ' + ${product.unitRate}" th:text="${product.name}">Product</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Preset Quantity</div>
				    			<div>
				    				<select class="span7" id="inboxVoiceProductQuantity">
				    					<option th:each="q : ${presetQuantity}" th:value="${q.quantity}" th:text="${q.quantity}">Quantity</option>
				    					<option value="other">other</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Custom Quantity</div>
				    			<div>
				    				<input class="span6" type="text" id="inboxVoiceCustomQuantity" disabled="true">
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<br>
				    			<button value="0" id="add-inbox-voice-order-items" class="btn btn-primary"> Add</button>
				    		</div>
				  		</div>
			  		</div>
		  		</form>
		  		<div>
		  			<div class="fluid-row">
						<div class="span3"></div>
						<div class="span3"><b>Product Name</b></div>
						<div class="span3"><b>Quantity</b></div>
						<div class="span2"><b>Rate (In ₹)</b></div>
					</div>
		  		</div>
		  		<div id="inboxVoiceOrderItems">
		  			
		  		</div>
	  		</div>
	  	</div>
	  	<!-- Hidden Fields -->
	  	<input type="hidden" id="inboxVoiceOrderId">
	  <div class="modal-footer ">
	    	<button type="button" id = "save-inbox-voice-order" class="btn btn-warning"><i class="icon-white icon-ok"></i>  Save</button>
	    	<button id="confirm-reject-inbox-voice-order" class="btn btn-primary" data-title="Reject" data-toggle="modal" data-target="#reject-inbox-voice-order-modal"><i class="icon-white  icon-trash"></i> Reject</button>
	    	<button type="button" class="btn btn-default inbox-voice-modal-close" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
	  </div>
	</div>
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
	
	<div class="modal fade" id="reject-inbox-voice-order-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
	      <h4 class="modal-title custom_align" id="HeadingEdit">Reject Message</h4>
	    </div>
	    <div class="modal-body">
	      <div class="fluid-row text-center">
	      	Do you want to reject this message?
	      </div>
	      <hr>
	    </div>
	  </div>
	  <div class="modal-footer ">
	    <button type="button" id="reject-inbox-voice-order" class="btn btn-warning"><i class="icon-white icon-trash"></i>  Reject</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
	  </div>
	</div>
</div>